<div class="container-fluid">
  <div class="container">
    <div class="row-fluid">
      <div class="span12">
          <div class="hero-unit">
            <h1>BUILT WITH</h1>
        </div>
      </div>
    </div>

      <div class="row-fluid">
        <div class="span12">
          <div class="span2 well lg">
            <%= link_to( image_tag('rails.png'), 'http://rubyonrails.org/' )%>
            <br/>
            <br />
            <%= link_to( image_tag('ruby.png'), 'http://www.ruby-lang.org/en/' )%>
          </div>
          <div class="span6 well lg">
            <%= link_to( image_tag('jquery.png'), 'http://jquery.com/' )%>
            <br />
            <br />
            <br />
            <br />
            <%= link_to( image_tag('js.png'), 'https://developer.mozilla.org/en-US/docs/Web/JavaScript' )%>
            <%= link_to( image_tag('html5.png'), 'http://www.html5rocks.com/en/' )%>
            <%= link_to( image_tag('css3.png'), 'https://developer.mozilla.org/en-US/docs/Web/CSS/CSS3' )%>
          </div>
          <div class="span2 well lg">
            <%= link_to( image_tag('bootstrap2.png'), 'http://bootswatch.com/cyborg/' )%>
            <br />
            <br />
            <br />
            <br />
            <br />
            <%= link_to( image_tag('heroku-1.jpg'), 'https://www.heroku.com/' )%>
          </div>
          <div class="span2 well lg">
            <%= link_to( image_tag('facebook.png'), 'http://www.facebook.com' )%>
            <br />
            <br />
            <br />
            <br />
            <br />
            <%= link_to( image_tag('graph_api.png'), 'http://developers.facebook.com/docs/reference/api/' )%>
          </div>
        </div>
      </div>

  </div>
</div>