<div class="container-fluid">

<% @videos.each do |v| %>
  <div class="row-fluid">
    <div class="span12 well">
      <div class="well">
      <h2><%= v[:name] %></h2>
        <p>by <%= v[:poster] %> @ <%= v[:ts] %></p>
      </div>
      
      <video width="700" height="500" controls="controls" preload="none">
        <source type="video/mp4" src="<%= v[:source] %>" />
        <object width="400" height="400" type="application/x-shockwave-flash" data="flashmediaelement.swf">
          <param name="movie" value="flashmediaelement.swf" />
          <param name="flashvars" value="controls=true&file=<%=v[:source] %>" />
        </object>
      </video>
    </div>

  </div><!-- /row-fluid -->
<% end %>

</div><!-- /container-fluid-->

<script>
  // using jQuery
  $('video,audio').mediaelementplayer(/* Options */);
</script>