<div class="container-fluid">

<div class="row-fluid">
<div id="myCarousel" class="carousel slide">

  <!-- Carousel item -->
  <div class="carousel-inner">
  
  <% @videos.each_with_index do |v, idx| %>
    <% type = 'item' %>
    <% if idx == 0 %>
      <% type = 'active item' %>
    <% end %>

    <div class="container <%= type %>" id="<%= idx %>" >
      <div class="span12 well">
        <div class="well">
        <h2><%= v[:name] %></h2>
          <p>by <%= link_to 'Best Vines', 'https://www.facebook.com/BestOfVines' %> @ <%= localtime_tag(v[:ts]) %></p>
        </div>
        
        <div align="center">
          <video width="700" height="500" controls="controls" preload="none">
            <source type="video/mp4" src="<%= v[:source] %>" />
            <object width="400" height="400" type="application/x-shockwave-flash" data="flashmediaelement.swf">
              <param name="movie" value="flashmediaelement.swf" />
              <param name="flashvars" value="controls=true&file=<%= v[:source] %>" />
            </object>
          </video>
        </div>
      </div>
      <% if idx == 0 %>
        <h6 class="note"><span class="alert">You can slide across videos by using your left or right arrow key!</span></h6>
      <% end %>
    </div><!-- /container -->
  <% end %>

  </div><!-- /carousel inner-->
  <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
  <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div><!-- /carousel -->
</div><!-- /row-fluid -->
</div><!-- /container-fluid-->

<script>

  $(document).ready(function() {

   $('.carousel').carousel('pause');
   $("span.localtime").localtime();
   $('video,audio').mediaelementplayer();

   function pauseVideo() {
     $('video,audio').each(function() {
       $(this)[0].pause();
     });
   };

   jQuery(document).bind('keyup', function(e) {

      if(e.keyCode==39){
        pauseVideo();
        jQuery('a.carousel-control.right').trigger('click');
      } 
      else if (e.keyCode==37){
        pauseVideo();
        jQuery('a.carousel-control.left').trigger('click');
      }
    });

  });
</script>