<!DOCTYPE html>
<html>
<head>
  <title>VineTime | Best vine videos online</title>
  <meta name="description" content="Scroll through The Best Vine videos">
  <meta http-equiv="content-type" content="text/html;charset=UTF-8">
  <meta name="keywords" content="vine, best vine videos, top 10 vine videos">
  <meta property="og:image" content="http://i.imgur.com/gu7Zwcp.png"/>
  <meta property="og:title" content="VineTime | Best vine videos online"/>
  <meta property="og:url" content="<%= root_url%>"/>
  <meta property="og:site_name" content="VineTime"/>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= nav_bar :fixed => :top, :responsive => true, :fluid => true, :brand => "VineTime", :brand_link => root_url do %>
  <%= menu_group do %>
    <%= menu_divider %>
    <%= menu_item "Home", root_url %>
    <%= menu_divider %>
    <%= menu_item "About", about_url %>
    <%= menu_item "Contact", contact_url %>
    <%= menu_divider %>
    <%= menu_item "Fork", 'https://github.com/mikechau/vine-time' %> 
    <%= menu_divider %>
  <% end %>
  <ul class="nav pull-right">
    <li><a id="h1url" class="nohover"><h1 class="draft">Best vine videos online</h1></a></li>
  </ul>
<% end %>

<%= yield %>

</body>
</html>
