<!DOCTYPE html>
<html xmlns:fb="http://www.facebook.com/2008/fbml" xmlns:og="http://opengraphprotocol.org/schema/" xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en" dir="ltr"> 
<head>
  <title>VineTime | Best vine videos online</title>
  <meta name="description" content="Scroll through The Best Vine videos">
  <meta http-equiv="content-type" content="text/html;charset=UTF-8">
  <meta name="keywords" content="vine, best vine videos, top 10 vine videos">
  <meta property="og:image" content="http://i.imgur.com/ClhtqHb.png">
  <meta property="og:description" content="Scroll through The Best Vine videos">
  <meta property="og:title" content="VineTime | Best vine videos online">
  <meta property="og:url" content="<%= root_url%>">
  <meta property="og:site_name" content="VineTime">
  <meta property="og:type" content="website">
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= nav_bar :fixed => :top, :responsive => true, :fluid => true, :brand => "VineTime", :brand_link => root_url do %>
  <%= menu_group do %>
    <%= menu_divider %>
    <%= menu_item "Home", root_url %>
    <%= menu_divider %>
    <%= menu_item "About", about_url %>
    <%= menu_item "Contact", contact_url %>
    <%= menu_divider %>
    <%= menu_item "Fork", 'https://github.com/mikechau/vine-time' %> 
    <%= menu_divider %>
  <% end %>
  <ul class="nav pull-right">
    <li><a id="h1url" class="nohover"><h1 class="draft">Best vine videos online</h1></a></li>
  </ul>
<% end %>

<%= yield %>

  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-42722924-1', 'herokuapp.com');
    ga('send', 'pageview');

  </script>

</body>
</html>
