<!DOCTYPE html>
<html>
<head>
  <title>VineTime</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= nav_bar :fixed => :top, :responsive => true, :fluid => true, :brand => "Vine Time", :brand_link => root_url do %>
  <%= menu_group do %>
    <%= menu_divider %>
    <%= menu_item "Home", root_path %>
    <%= menu_divider %>
    <%= menu_item "About" %>
    <%= menu_item "Contact" %>
    <%= menu_divider %>
    <%= menu_item "Fork" %> 
  <% end %>
<% end %>

<%= yield %>

</body>
</html>
